KERNEL=="ttyACM*", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE:="0777", SYMLINK+="bambooshoot_actuator"
KERNEL=="ttyACM*", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="1002", MODE:="0777", SYMLINK+="bambooshoot_actuator"
