<launch>
  <arg name="usbname" default="ch341-uart"/>
  <arg name="sudopass" default=""/>

  <node pkg="bsactuator_ros" type="bsactuator_ros" name="bsactuator" output="screen">
    <param name="usbname" value="$(arg usbname)"/>
    <param name="sudopass" value="$(arg sudopass)"/>
  </node>
</launch>
